form(action='/contact', method='POST')
  input(type='text', name='message', placeholder='Введите сообщение')
  button(type='submit') Отправить

form#ajaxform
  input(type='text', name='message', id='messageInput', placeholder='Введите сообщение')
  button(type='submit') Отправить
div#result
