html(lang="ru")
  head
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Коровы - Фермерская душа
    link(rel="stylesheet", href="/stylesheets/styles.css")
    link(rel="stylesheet", href="/stylesheets/more.css")
    link(rel="icon", href="images/иконка.png", type="image/png")

  body
    header
      .logo-block
        a(href="/")
          img(src="images/logo4.png", alt="logo")
          .company-name Фермерская душа
      .name-block
        .name-page
          h2 Коровы

    main
      a.back-link(href="/") ← Назад
      .wrapper
        aside
          .aside-all
            h2 МЕНЮ
            nav
              ul.aside-menu
                li
                  a(href="/birds") Для птиц
                li.active
                  a(href="/cows") Для коров
                li
                  a(href="/horses") Для лошадей

        article
          section
            p Содержание коров требует знаний и опыта.
            h3.collapsible Кормление
            .content
              p Сбалансированный рацион - залог здоровья и продуктивности.
            h3.collapsible Доение
            .content
              p Правильная техника доения предотвращает заболевания вымени.
            p
              img(src="images/ж-корова.jpg", width="300", alt="Коровы")

    footer
      .footer
        #social
          h3 SOCIAL NETWORKS
          a.social-icon.twitter(href="http://twitter.com/")
          a.social-icon.google(href="http://google.com/")
        #footer-logo
          a(href="#")
            img(src="images/logo4.png", alt="Логотип")

    script(src="/javascripts/js.js")
    script(src="/javascripts/interactive.js")
