html(lang="ru")
  head
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Цветы - Фермерская душа
    link(rel="stylesheet", href="/stylesheets/styles.css")
    link(rel="stylesheet", href="/stylesheets/more.css")
    link(rel="icon", href="images/logo3.png", type="image/png")

  body
    header
      .logo-block
        a
          img(src="images/logo4.png", alt="logo")
          .company-name Фермерская душа
      .name-block
        .name-page
          h2 Цветы

    main
      a.back-link(href="/") ← Назад
      .wrapper
        aside
          .aside-all
            h2 МЕНЮ
            nav
              ul.aside-menu
                li
                  a(href="/vegetables") Овощи
                li
                  a(href="/fruits") Фрукты
                li.active
                  a(href="/flowers") Цветы

        article
          section
            p Цветы украшают участок и требуют ухода.
            h3.collapsible Посадка
            .content
              p Выбирайте солнечные места для большинства цветочных культур.
            h3.collapsible Уход
            .content
              p Регулярно удаляйте увядшие цветы для продления цветения.
            p.img-spacing
              img(src="images/р-цветы.jpg", width="300", alt="Цветы")

    footer
      .footer
        #social
          h3 SOCIAL NETWORKS
          a.social-icon.twitter(href="http://twitter.com/")
          a.social-icon.google(href="http://google.com/")
        #footer-logo
          a
            img(src="images/logo4.png", alt="Логотип")

    script(src="/javascripts/js.js")
