html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Фрукты - Фермерская душа
    link(rel="stylesheet", href="/stylesheets/styles.css")
    link(rel="stylesheet", href="/stylesheets/more.css")
    link(rel="icon", href="images/иконка.png", type="image/png")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")

  body
    header
      .logo-block
        a(href="/")
          img(src="images/logo4.png", alt="logo")
          .company-name Фермерская душа
      .name-block
        .name-page
          h2 Фрукты

    main
      a(href="/", class="back-link") ← Назад
      .wrapper
        aside
          .aside-all
            h2 МЕНЮ
            nav
              ul.aside-menu
                li
                  a(href="/vegetables") Овощи
                li.active
                  a(href="/fruits") Фрукты
                li
                  a(href="/flowers") Цветы

        article
          section
            p Фруктовые деревья требуют особого внимания.
            h3.collapsible Обрезка
            .content
              p Регулярная обрезка помогает увеличить урожайность.
            h3.collapsible Защита от вредителей
            .content
              p Используйте безопасные средства для защиты плодов.
            p
              img(src="images/р-яблоня.jpg", width="300", alt="Фрукты")

    footer
      .footer
        #social
          h3 SOCIAL NETWORKS
          a.social-icon.twitter(href="http://twitter.com/")
          a.social-icon.google(href="http://google.com/")
        #footer-logo
          a(href="#")
            img(src="images/logo4.png", alt="Логотип")

    script(src="/javascripts/js.js")
