html(lang="ru")
  head
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Лошади - Фермерская душа
    link(rel="stylesheet", href="/stylesheets/styles.css")
    link(rel="stylesheet", href="/stylesheets/more.css")
    link(rel="icon", href="images/logo3.png", type="image/png")

  body
    header
      .logo-block
        a
          img(src="images/logo4.png", alt="logo")
          .company-name Фермерская душа
      .name-block
        .name-page
          h2 Лошади

    main
      a.back-link(href="/") ← Назад
      .wrapper
        aside
          .aside-all
            h2 МЕНЮ
            nav
              ul.aside-menu
                li
                  a(href="birds.html") Для птиц
                li
                  a(href="cows.html") Для коров
                li.active
                  a(href="horses.html") Для лошадей

        article
          section
            p Лошади - благородные животные, требующие заботы.
            h3.collapsible Выпас
            .content
              p Регулярный выпас необходим для здоровья лошадей.
            h3.collapsible Уход за копытами
            .content
              p Регулярная расчистка и ковка предотвращают проблемы.
            p.img-spacing
              img(src="images/ж-лошадь.jpg", width="300", alt="Лошади")

    footer
      .footer
        #social
          h3 SOCIAL NETWORKS
          a.social-icon.twitter(href="http://twitter.com/")
          a.social-icon.google(href="http://google.com/")
        #footer-logo
          a
            img(src="images/logo4.png", alt="Логотип")

    script(src="сайт/js/js.js")
    script(src="сайт/js/interactive.js")
